<nav class="navbar navbar-toggleable-md navbar-light bg-faded green-back">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse justify-content-sm-around" id="navbarTogglerDemo01">
    <a class="navbar-brand" href="#"><ng-content></ng-content></a>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="text" placeholder="Search">
      <button class="btn button-custom my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>

