<div class="btn-group-vertical">
  <div class="d-inline-block" ngbDropdown #myDrop="ngbDropdown">
    <button class="btn button-custom" id="dropdownManual" ngbDropdownToggle>Toggle dropdown</button>
    <div class="dropdown-menu" aria-labelledby="dropdownManual">
      <button class="dropdown-item">Action - 1</button>
      <button class="dropdown-item">Another Action</button>
      <button class="dropdown-item">Something else is here</button>
    </div>
  </div>
  <div class="d-inline-block" ngbDropdown #myDrop="ngbDropdown">
    <button class="btn button-custom" id="dropdownManual2" ngbDropdownToggle>Toggle dropdown</button>
    <div class="dropdown-menu" aria-labelledby="dropdownManual2">
      <button class="dropdown-item">Action - 1</button>
      <button class="dropdown-item">Another Action</button>
      <button class="dropdown-item">Something else is here</button>
    </div>
  </div>
  <div class="d-inline-block" ngbDropdown #myDrop="ngbDropdown">
    <button class="btn button-custom" id="dropdownManual3" ngbDropdownToggle>Toggle dropdown</button>
    <div class="dropdown-menu" aria-labelledby="dropdownManual3">
      <button class="dropdown-item">Action - 1</button>
      <button class="dropdown-item">Another Action</button>
      <button class="dropdown-item">Something else is here</button>
    </div>
  </div>
</div>
